
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>
  </script>
  <title>Advanced React Application Example</title>
</head>
<body>
  <div id="root"><%- initialMarkup -%></div>
  <script src="/bundle.js" charset="utf-8"></script>
</body>
</html>